<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xzh.musicnotification">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
<!--        android:noHistory="true"-->
        <activity
            android:name=".LockActivityV2"
            android:exported="false"
            android:noHistory="true"
            android:showWhenLocked="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity="com.xzh.musicnotificationV2"
            android:theme="@style/LockScreenTheme" />

        <activity
            android:name=".WeexActivity"
            android:exported="false"
            android:noHistory="true"
            android:showWhenLocked="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity="com.xzh.musicnotificationV2"
            android:theme="@style/LockScreenTheme"/>

        <service android:name=".service.PlayServiceV2" />
    </application>

</manifest>