<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xzh.varydesktopicons">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <application>
        <activity-alias
            android:icon="@mipmap/wrsicon1"
            android:name="com.xzh.varydesktopicons.wrsicon3"
            android:enabled="false"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|fontScale"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:targetActivity="io.dcloud.PandoraEntry">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:icon="@mipmap/wrsicon2"
            android:name="com.xzh.varydesktopicons.wrsicon2"
            android:enabled="false"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|fontScale"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:targetActivity="io.dcloud.PandoraEntry">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:icon="@mipmap/wrsicon3"
            android:name="com.xzh.varydesktopicons.wrsicon1"
            android:enabled="false"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|fontScale"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:targetActivity="io.dcloud.PandoraEntry">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>